.blog-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  padding: 50px 25px 0 25px;
  /* overflow: scroll; */
  /* background: var(--bg-opaque); */
  border-radius: 10px;
}

.blog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 50%;
  color: white;
}

/* .blog-box:hover {
  color: white;
} */

.blog-box h3 {
  padding: 5px 0 0 0;
}

.blog-box p {
  font-size: 11px;
  padding: 3px 0 2px 0;
}

.blog-box hr {
  width: 30%;
  border-top: 2px solid white;
}

.blog-box .preview-text {
  font-size: 14px;
  padding: 7px 0;
}

/* .blog-box:hover {
  box-shadow: 5px 5px 10px var(--shadow);
} */

.blog-box img {
  width: 100%;
  /* border-top-left-radius: 5px; */
  /* border-top-right-radius: 5px; */
  border: 5px solid white;
  border-radius: 5px;
}

.blog-box3, .blog-box4 {
  display: none;
}

@media (min-width: 480px) {
  .blog-box {
    width: 400px;
  }
}