.projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  justify-content: flex-start;
  align-items: center;
}

.projects-nav {
  height: 10%;
  width: 95%;
}

.projects-nav ul {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--text-inactive);
  font-size: 16px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.projects-nav li:hover {
  color: white;
  transform: none;
  cursor: pointer;
}

.react-li {
  color: white;
}

.projects-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 30px 10px;
}

.project {
  width: 80%;
  height: 50%;
  margin-bottom: 20px;
  background: var(--bg-opaque);
  border: 5px solid white;
  border-radius: 5px;
}

.project3, .project4, .project5, .project6 {
  display: none;
}


@media (min-width: 768px) {
  .projects-nav {
    width: 35%;
  }
  
  .projects-box {
    width: 50%;
  }

  .project:hover {
    box-shadow: 5px 5px 10px var(--shadow);
  }
}